.debug{
	/*border: 2px solid red;*/
}

body{
	text-align:center;
	background: #706166;

	
	
}

.container{
height: 100%;

}



.output {
	/*margin: 150px auto;*/
	/*justify-content: flex-end;*/
}

@media screen and (min-width: 900px) {


}

@media screen and (max-width: 799px){

    
}

@media only screen and (max-width: 320px) {

}