.debug{
	/*border: 2px solid red;*/
}

body{
	text-align:center;
	background: #706166;

}

h1{
font-family: 'Felipa', cursive;

}
.container{
height: 100%;

}
.container h1{
font-family: 'Felipa', cursive;
}


.output {
	/*margin: 150px auto;*/
	/*justify-content: flex-end;*/
}

@media screen and (min-width: 900px) {


}

@media screen and (max-width: 799px){

    
}

@media only screen and (max-width:425px) {
	h1.top, h2.below-top{
	display: block;
}
}